body {
    background-color: #f4f4f4;
    font-family: 'Zalando Sans Expanded', cursive;
    color: #333;
    line-height: 1.6;
}

h1 {
    color: darkblue;
    text-align: center;
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #ddd
}

.btn-primary{
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #218838;
}

h2 {
    text-decoration: underline;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid white;
}

input {
    display: block;
    margin-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

nav a:hover {
    color: darkorange;
}

section {
    max-width: 800px;
    margin: 40px auto;
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 30px
    rgba(0, 0, 0, 0.1);
}

.info-card {
    background: #CAA148;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.25);
    padding: 20px;
}

.info-card__title {
    color: darkblue;
    font-size: 24px;
}

.info-card__button--green {
    background-color: green;
}

@media (max-width: 600px) {
    body {
        padding:10px;
    }

    .info-card {
        padding:20px;
        margin-bottom: 16px;
        width: auto;
    }

    .info-card__title {
        font-size: 24px;
    }
}

.form-input {
    width: 100%;
    box-sizing: border-box;
}



